.SignupForm input {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid rgba(10, 10 ,10, 0.3);
    border-radius: 7px;
    text-align: start;
    text-indent: 0px;
}

.SignupForm {
    width:40%;
    margin: 0 auto;
    border: 0
}

.signup-button {
    background:#1AAB8A;
    color:#fff;
    border:none;
    height:40px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    margin: 0 auto;
    display: block;
    transition:800ms ease all;
    outline:none;
}

.signup-button:hover {
    background:#fff;
    color:#1AAB8A;
}

.signup-button:before,.signup-button:after{
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}

.signup-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.signup-button:hover:before,.signup-button:hover:after{
    width:100%;
    transition:800ms ease all;
}