.preview_page_title{
    display:block;
    max-width:10em;
    border-bottom: 0px;
    padding:0px;
    margin:10px;
    padding-bottom:10px;
    color:rgb(134,142,150);
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1rem;
    white-space: nowrap;
}

.preview_page_title.active{
    color:rgb(52,58,64);
    border-bottom:1px solid black;
}

.preview_page_title .remove_container{
    display:flex;
    justify-content:flex-end;
}

.preview_page_title .remove{
    color:#e64980;
    font-weight:600;
    opacity:0;
}

.preview_page_title:hover:not(.최신):not(.trend) .remove{
    opacity: 1;
}